{% extends "base_templates/careers_base.html" %}

{% block css %}<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='careers/css/search.css')}}"> {% endblock %}

{% block main_body %}

	<form action="" method="POST" role="form">
		<div class="form-group">
			<label for="">Search</label>
			<input type="text" name="search" class="form-control" id="" placeholder="Search">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	{% for job in jobs %}

		<p><a href="{{url_for('careers.Job', job_id=job['_id'])}}">{{job['title']}}</a></p>

	{% endfor %}



{% endblock %}