.jumbotron {
	background-image: url("../img/nursing_home.jpg");
	height: 600px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;

}

h1 {
	padding-top: 200px;
	color: white !important;
	font-size: 100px;
}

h2 {
	color: white;
}

.fa {
	font-size: 50px;
}

.text-wrapper {
	text-align: center;

	
}

#services:hover .dropdown-menu {
   display: block !important;
}


.navbar ul li {
	font-size: 15px;
}


footer {
	position: relative;
	bottom: 0;
	margin-top: 60px;
	background-color: #3b3b3b;
}

ul li {
	color: #aaaa91;
}

footer ul {
	padding-top: 30px;
}


.contact, .footer-nav, .footer-services {
	list-style: none;
}

.footer-nav-links, .footer-services-links {
	color: #aaaa91 !important;
}

.footer-nav-links:hover, .footer-services-links:hover {
	color: white !important;
}



.contact li:first-child, .footer-nav li:first-child, .footer-services li:first-child {
	color: white;
	padding-bottom: 20px;
	font-size: 20px;
}